@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 14, 23; /* space-900 */
  --background-end-rgb: 21, 27, 46;   /* space-800 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: radial-gradient(circle at center, #1b2735 0%, #090a0f 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0B0E17;
}
::-webkit-scrollbar-thumb {
  background: #232D4B;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00F0FF;
}